@page "/personas"
@inject IRepositorio repositorio

<h3>Indice Personas</h3>

<div class="container">
    <div class="form-group">
	    <a class="btn btn-info" href="personas/crear">Crear personas</a>
    </div>
    <div class="form-group">
	    <input type="button" class="btn btn-info" @onclick="mostrarListado" value="Listar Personas">
    </div>
</div>

@if(mostarLista)
{
 <ListadoGenerico Listado="Personas">
	<HayRegistrosCompleto>
		<table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Personas)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success">Editar</a>
                            <button  class="btn btn-danger">Borrar</button>
                        </td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
	</HayRegistrosCompleto>
</ListadoGenerico> 
}


@code {
    bool mostarLista = false;
    public void mostrarListado()
    {
        mostarLista = !mostarLista;
    }
    public List<Persona> Personas { get; set; } = new List<Persona>();
    protected async override Task OnInitializedAsync() // con este método vamos a tener el listado de personas en la propiedad Personas
	{
		var responseHTTP = await repositorio.Get<List<Persona>>("api/personas"); // con esto se obtiene el listado de personas de la base de datos
		Personas = responseHTTP.Response;
	}
}
