@page "/alimentos/editar/{AlimentoId:int}"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensaje

<h3>EditarComida</h3>
@if(ComidaRapida==null)
{
	<text>Cargando . . . </text>
}
else
{
	<FomularioComidas OnValidSubmit="Editar" ComidaRapida="ComidaRapida"></FomularioComidas>
}

@code {
	[Parameter] public int AlimentoId { get; set; }
	private ComidasRapidas ComidaRapida;
	protected async override Task OnInitializedAsync()
	{
		var httpResponse = await repositorio.Get<ComidasRapidas>($"api/ComidasRapidas/{AlimentoId}");
		if(httpResponse.Error)
		{
			if(httpResponse.HttpResponseMessage.StatusCode==System.Net.HttpStatusCode.NotFound)
			{
				navigationManager.NavigateTo("alimentos");
			}
			else
			{
				await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
			}
		}
		else
		{
			ComidaRapida = httpResponse.Response;
		}

	}
	private async Task Editar()
	{
		var httpResponse = await repositorio.Put("api/ComidasRapidas", ComidaRapida);
		if(httpResponse.Error)
		{
			await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
		}
		else
		{
			navigationManager.NavigateTo("alimentos");
		}
	}
}
