@inherits LayoutComponentBase
@inject Comidas.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <EnlacesLogin></EnlacesLogin>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@appState"> @*Podemos definir valores que se van a propagar a lo largo de la app *@
                @Body
            </CascadingValue>
            
            @*<Comidas.Client.Pages.Counter></Comidas.Client.Pages.Counter>*@
        </article>
    </main>
</div>
@code{
    //lo que está comentado aquí es para el logout automático, que no funciona 
    //[CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    AppState appState = new AppState();
    public class AppState
    {
        public string color { get; set; } = "red";
        public string size { get; set; } = "18";
    }
    protected override async Task OnInitializedAsync()
    {
        //await js.InicializarTimerInactivo(DotNetObjectReference.Create(this)); 
        renovadorToken.Iniciar();
    }
    //[JSInvokable]
    //public async Task Logout()
    //{
    //    var authState = await AuthenticationState;
    //    if(authState.User.Identity.IsAuthenticated)
    //    {
    //        navigationManager.NavigateTo("logout");
    //    }
    //}
}