@page "/"
@inject ServiciosSingleton singleton
@inject IRepositorio repositorio
<PageTitle>Index</PageTitle>
<p role="status">Singleton count: @singleton.Valor</p>
@*<ListadoComidas ComidaRapida="ComidasRapidas"></ListadoComidas>*@

<div class="container">
	<div>
		<a class="btn btn-info container__elements" href="alimentos">Comidas</a>
	</div>
	<div>
		<a class="btn btn-info container__elements" href="personas">Personas</a>
	</div>
</div>



@code
{
	private List<ComidasRapidas> ComidasRapidas;
	protected override void OnInitialized()
	{
		ComidasRapidas = repositorio.ObtenerComidas();
	}
}